*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a:focus-visible, button:focus-visible, div.button-menu:focus-visible,
a:active, button:active, div.button-menu:active {
  outline: none !important;
  box-shadow: none !important;
  border: none !important;
  background: none !important;
}